body {
	font-family: 'Trebuchet MS', sans-serif;
	background-color: rgb(100,100,100);
  padding:0;
  margin:0;
}

p {
	font-size: 18;
	line-height: 2;
}

.header {
	font-size: 36;
}

.backBox-inner {
	background: rgb(190,190,190);
  width: 93%;
  padding: 20px;
	border-radius: 30px;
	border: white;
	border-width: 20px;
}

.backBox-outer {
	background: linear-gradient(to top right, rgba(119, 133, 138, .9), rgba(143, 155, 161, .9));
  width: 50%;
  padding: 50px;
  margin: 20px;
	border-radius: 50px;
	text-align: left;
}